@import "../../app.scss";

.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 300px;
      }
    }
  }

  .titleContainer {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
    ); // Use grid with minimum box width and distribute remaining space
    gap: 20px; // Add a gap between the boxes
    max-width: 1366px;
    margin: 10px;

    @include mobile {
      grid-template-columns: 1fr;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 25px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;

        @include mobile {
          width: 200px;
          height: 50px;
        }
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
      }

      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 24px;
        cursor: pointer;

        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 50px;
        }
      }
    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    gap: 20px; // Add a gap between the boxes
    max-width: 1366px;
    margin: auto;
    flex-wrap: wrap;

    // Ensure there are at least three boxes in each row
    @include mobile {
      flex-direction: column;
      width: 100%;
    }

    .box {
      width: calc(
        25% - 20px
      ); // Adjust the width to accommodate three boxes with gaps
      padding-inline: 50px;
      padding-block: 20px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        background-color: transparent !important; // Add !important to override other styles
      }
      @include mobile {
        width: 100%; // Full width on mobile
        border: none;
        align-items: center;
        gap: 20px;
        padding: 10px;
        overflow-y: scroll;
      }
      .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px; // Adjust the height as needed
        max-width: 80%; // Limit the maximum width to prevent logos from stretching too much

        img {
          max-height: 100%; // Make sure the image does not exceed the container height
          max-width: 100%; // Make sure the image does not exceed the container width
          object-fit: contain; // Maintain the aspect ratio of the image
        }
      }

      p {
        @include mobile {
          display: none;
        }
      }

      button {
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;

        @include mobile {
          background-color: transparent;
          border: 1px solid orange;
          border-radius: 5px;
          color: orange;
          width: 50%;
          padding: 5px;
        }
      }
    }
  }
}
